.nav {
  width: rem(80px);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $c-background;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    padding: rem(20px) 0;
    width: 100%;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: $c-background-light;
    }

    &:nth-child(1) {
      background: red;
      margin-bottom: rem(50px);
    }
  }

  &__icon {
    fill: #fff;
    width: rem(30px);
    height: rem(30px);
    font-weight: 200;
  }
}
