@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina:100,400,600|Open+Sans:400,600|Roboto:300,400,500,700|Architects+Daughter&display=swap");

$f-primary: "Roboto", sans-serif;
$f-secondary: "Open Sans", sans-serif;
$f-tertiary: "Architects Daughter", cursive;

$c-background: #1f1e30;
$c-background-mid: #2a2b4a;
$c-background-light: #8665e7;
$c-background-dark: #15151f;
